@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
  font-family: "squarefont";
  src: local("squarefont"),
    url(./components/assets/fonts/Square.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@keyframes slide_left {
  from {
    transform: translate(-100vw);
  }

  to {
    transform: translate(0);
  }
}

@keyframes slide_up {
  from {
    opacity: 0;
    transform: translate(0, 110vh);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slide_down {
  from {
    transform: translate(0);
    opacity: 1;
  }

  to {
    transform: translate(0, 110vh);
    opacity: 0;
  }
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-180deg);
  }
}

.rotate180 {
  animation: rotate180 0.3s linear;
}

.slide_left {
  animation: slide_left 0.5s ease;
  translate: 0, 100vw;
}

.slide_up {
  animation: slide_up 0.3s ease;
}

.slide_down {
  animation: slide_down 0.3s ease;
}

html {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.hide-overflow {
  overflow-y: hidden !important;
}

.type-badge {
  border-radius: 9999px;
  width: 6rem;
  height: 1.8rem;
  text-align: center;
  border: 1px solid white;
  -webkit-text-stroke: 1px black;
  font-family: squarefont;
  font-size: 1.3rem;
  box-shadow: rgb(44, 46, 47) 0 0 15px inset;
  margin: 0.1rem 0.1rem;
  z-index: 0;
}

.poke-card {
  transform: scale(1);
  transition: transform 250ms ease;
}

.poke-card:hover {
  transform: scale(1.05);
}

/* =========================== Filters =========================== */

.filter-labels {
  display: block;
  text-align: center;
  font-weight: 800;
  margin-right: 0.3rem;
}

.filters {
  margin-top: 0.2rem;
  width: 95vw;
}

#filter-div {
  background-color: rgb(209 213 219);
}

/* =========================== Poke Info =========================== */

#poke-info-dialog {
  border-radius: 2%;
  overflow-x: hidden;
  z-index: 9999;
  min-width: 100%;
  min-height: 100dvh;
  max-width: 1024px !important;
  max-height: 720px !important;
  border-radius: 0;
  transition: box-shadow 300ms linear;
}

#poke-info-dialog[open] {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.589);
}

#poke-info-dialog::backdrop {
  visibility: hidden;
}

.poke-info {
  z-index: 9999;
  max-width: 100%;
  max-height: 100dvh;
  overflow-x: hidden;
}

.poke-info-loading {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-backdrop {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1 !important;
}

.info-box {
  background-color: #1da89c;
  border-radius: 0.8rem;
  box-shadow: #00000048 0px 4px 4px;
  margin: 0.2rem 0.7rem;
}

.info-title {
  color: #cdcdcd;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2.375rem;
  background-color: #333333;
  border-radius: 0.625rem;
  height: 2.375rem;
  width: 95%;
  margin: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.info-value {
  color: #cdcdcd;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #333333;
  border-radius: 0.625rem;
  width: 95%;
  margin: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem 0.3rem;
}

.minimize-button {
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 2.3rem;
  height: 2.3rem;
  background-color: white;
  z-index: 9999;
  margin: 1.1rem 1.7rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  box-shadow: #00000048 0px 4px 4px;
}

#poke-list {
  height: 100% !important;
  overflow-y: hidden;
}

/* =========================== Sprite =========================== */

.poke-info-sprite {
  position: relative;
  width: 96%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  background-image: url(/Red-pokeball.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.poke-info-sprite-img {
  width: 100%;
  max-width: 15rem;
}

.poke-info-spritesettings-button {
  position: absolute;
  left: 0;
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.3rem;
  border-radius: 9999px;
  background-color: white;
  box-shadow: #00000048 0px 4px 4px;
}

.poke-info-sprite-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.3rem;
  border-radius: 9999px;
  background-color: white;
  box-shadow: #00000048 0px 4px 4px;
  z-index: 40 !important;
  margin-bottom: 0.5rem;
}

.shiny-toggle svg {
  fill: gold;
}

.scroll-top-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 2rem;
  border-radius: 9999px;
  background-color: white;
  box-shadow: #00000048 0px 4px 4px;
  z-index: 40 !important;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.poke-info-sprite-button:disabled {
  background-color: rgb(83, 80, 80);
}

.settings-buttons {
  margin: 0.7rem;
  position: absolute;
  left: -80px;
  top: 2.8rem;
  transition: left 0.4s ease-out;
}

.settings-buttons-open {
  left: 0px !important;
}

.gender-toggle {
}

.male::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/Male-símbolo2.svg);
  top: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-size: contain;
}

.female::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(Female_symbol.svg);
  top: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-size: contain;
}

.male:disabled::before {
  opacity: 0.5;
}

.female:disabled::before {
  opacity: 0.5;
}

.pokeID {
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: #00000048 0px 4px 4px;
  background-color: #333333;
  color: #cdcdcd;
  outline: gray solid 1px;
  font-weight: 700;
  margin: 0.4rem;
  padding: 0 0.2rem;
}

/* =========================== Misc =========================== */
.poke-info-misc .poke-info-weight-height {
  width: 95%;
  margin: auto;
  margin-bottom: 0.4rem;
}

.poke-info-misc .poke-info-weight-height div {
  margin: 0 0.2rem;
}

/* =========================== Stats =========================== */

.poke-info-stats {
  max-height: 13rem;
}

.stat-label {
  text-transform: capitalize;
}

.stat-bar {
  background-color: transparent;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.stat-fill {
  min-height: 0.6rem !important;
  border-radius: 3px;
}
.stat-block {
  display: grid;
  grid-template-columns: 2.5fr 1fr 6fr;
  gap: 0.5rem;
}

/* =========================== Variants =========================== */

.poke-info-variants {
  padding-bottom: 1rem;
}

.poke-info-variants ul {
  background-color: #333333;
  max-height: 13.75rem;
  overflow-y: scroll;
}

.poke-info-variants ul li {
  background: transparent;

  border-bottom: 1px solid #ff5b5b;
  height: 3rem;
}
.poke-info-variants ul h3 {
  text-transform: capitalize;

  font-size: 1rem;
}

.poke-info-variants ul button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poke-info-variants ul img {
  width: 4rem;
  margin: 0 0.1rem;
  object-position: 0 -0.2rem;
  object-fit: scale-down;
}

.selected-variant {
  background-color: rgba(0, 0, 0, 0.329) !important;
}

/* =========================== Evolution Chain =========================== */

.poke-info-evolution {
  max-width: 669px;
}

.poke-info-evolution .evo-stages-list {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poke-info-evolution .evo-stages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-info-evolution .evo-container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-info-evolution .evo-container-item {
  background-image: url(/Red-pokeball.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.poke-info-evolution .evo-container-item .evo-name {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.2rem;
}

.poke-info-evolution .evo-container-item button {
  width: 96px;
  flex-shrink: 0;
}

.poke-info-evolution .evo-container-item img {
  width: 96px;
  flex-shrink: 0;
}

.poke-info-evolution .evo-stages-item[data-has-nextevo]::after {
  content: "";
  display: block;
  background-image: url(/EvolvesToArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
  width: 3rem;
  height: 100px;
}

.refetch-poke-evo {
  position: fixed;
  display: flex;
  justify-content: center;
  inset: 0;
  opacity: 0;
  transition: opacity 3s linear;
  background-color: #333333;
  z-index: 40;
  visibility: hidden;
}

.refetch-poke-evo-loading {
  visibility: visible;
  opacity: 0.5;
}

/* =========================== media-queries =========================== */

@media screen and (min-width: 600px) {
  .poke-card-li {
    max-width: 50%;
  }
  .poke-card {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 41.25em) /* 660 px */ {
  body {
    position: static !important;
  }

  #poke-info-dialog {
    min-height: 0;
    min-width: 0;
    border-radius: 10px;
  }
  .minimize-button {
    position: absolute;
  }

  .poke-info-loading {
    max-width: 1024px;
    max-height: 720px;
    width: 95vw;
    height: 80vh;
  }

  .poke-info-sprite {
    grid-area: sprite;
    place-self: center;
    width: 100%;
    margin: 0;
  }

  .poke-info-misc {
    grid-area: misc;
    margin: 0;
  }

  .poke-info-weight-height {
    flex-direction: column;
    gap: 0.4rem;
    margin: 0 !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }

  .poke-info-weight-height div {
    width: 95% !important;
    margin-bottom: 0.2rem !important;
  }

  .poke-info-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    place-self: flex-end;
  }

  .poke-info-stats {
    grid-area: stats;
    height: 100%;
    margin: 0;
    max-height: none;
  }

  .poke-info-stats .stat-block {
    height: 100%;
  }

  .poke-info-stats-box {
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .poke-info-variants {
    grid-area: variants;
    height: 13.31rem;
    padding-bottom: 0.4rem;
    padding: 0;
    margin: 0;
  }

  .poke-info-variants ul {
    overflow-y: scroll;
    height: 65%;
  }

  .poke-info-evolution {
    grid-area: evolution;
    margin: 0;
  }

  .poke-info-evolution .evo-stages-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    gap: 0;
  }

  .poke-info-evolution .evo-stages-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .poke-info-evolution .evo-stages-item[data-has-nextevo]::after {
    content: "";
    display: block;
    background-image: url(/EvolvesToArrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
    width: 3rem;
    height: 100px;
    align-self: auto;
    margin-bottom: 3rem;
  }

  .poke-info-evolution .evo-container-list {
    display: flex;
    flex-wrap: wrap;
  }

  .poke-info-evolution .evo-container-item {
    flex-direction: column;
  }

  .poke-info {
    overflow-y: scroll;
    max-width: 64rem;
    max-height: 42rem;
    width: 95vw;
    height: 95vh;
    display: grid;
    place-content: flex-start;
    gap: 0.4rem;
    padding: 0.4rem;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    grid-template-areas:
      "sprite description"
      "sprite description"
      "sprite stats"
      "misc stats"
      "variants evolution";
  }
}

@media screen and (min-width: 980px) {
  .poke-card-li {
    max-width: 33%;
  }
}

@media screen and (min-width: 64rem) /* 1024 px */ {
  #poke-info-dialog {
    min-height: 0;
    min-width: 0;
  }

  /* =========================== filters =========================== */

  #filter-div {
    display: flex;
    max-width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
  }
  .filters {
    max-width: 20rem !important;
    border: 0.1rem solid rgb(100 116 139);
    align-self: center;
  }

  .filter-labels {
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
  }
}
