@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
  font-family: "squarefont";
  src: local("squarefont"),
    url(./components/assets/fonts/Square.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@keyframes slide_left {
  from {
    transform: translate(-100vw);
  }

  to {
    transform: translate(0);
  }
}

@keyframes slide_down {
  from {
    transform: translate(0, 100vw);
  }

  to {
    transform: translate(0);
  }
}

@keyframes slide_up {
  from {
    transform: translate(0);
    opacity: 1;
  }

  to {
    transform: translate(0, 110vw);
    opacity: 0;
  }
}

.slide_left {
  animation: slide_left 0.5s ease;
  translate: 0, 100vw;
}

.slide_down {
  animation: slide_down 0.3s ease;
}

.slide_up {
  animation: slide_up 0.3s ease;
}

html {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.hide-overflow {
  position: relative !important;
  overflow: hidden !important;
}

.type-badge {
  border-radius: 9999px;
  width: 5rem;
  text-align: center;
  border: 1px solid white;
  -webkit-text-stroke: 1px black;
  font-family: squarefont;
  font-size: 17px;
  box-shadow: rgb(44, 46, 47) 0 0 15px inset;
  margin: 2px 2px;
}

/* =========================== Filters =========================== */

.filters {
  margin-top: 4px;
}

#filter-div {
  background-color: rgb(209 213 219);
}

/* =========================== Poke Info =========================== */

.info-box {
  background-color: #0000004f;
  padding: 0.25rem;
  margin: 0.25rem;
  border-width: 1px;
}

.poke-info {
}

/* =========================== Stats =========================== */

.stat-block {
}

.stat-label {
  text-transform: capitalize;
}

.stat-bar {
  background-color: transparent;
  overflow-x: hidden;
}

.stat-number {
}

.stat-fill {
  min-height: 10px !important;
  height: 100%;
}

/* bg-black bg-opacity-30 p-1 m-1 border flex justify-between */

/* =========================== media-queries =========================== */

@media screen and (min-width: 600px) {
  @keyframes slide_down {
    from {
      transform: translate(-50%, 100vw);
      opacity: 0;
    }

    to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .poke-card {
    margin: 0.5rem;
  }

  .poke-info {
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
  }

  #pokeInfoBgID {
    backdrop-filter: brightness(0.5);
  }
}

@media screen and (min-width: 660px) {
  .poke-card {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #filter-div {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .filters {
    width: 320px !important;

    border: 0.1rem solid rgb(100 116 139);
  }
}
